@model Goldfish
<h1>Tips to care for goldfish</h1>
<p>This is how the elements in the water should be:</p>
<ul>
    <li>Amonia level: @Goldfish.AmoniaNumber</li>
    <li>@Goldfish.NitrateLowEndNum &lt; Nitrite level &lt; @Goldfish.NitrateHighEndNum</li>
    <li>@Goldfish.NitrateLowEndNum &lt; Nitrate level &lt; @Goldfish.NitrateHighEndNum</li>
</ul>
